@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:wght@300;400;500;600&family=Merriweather:ital,wght@1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app-body {
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    font-weight: normal;
    font-family: 'Jost', 'sans-serif';
}

body {
    overflow-x: hidden;
}

.hero-section {
    background-color: red;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1444212477490-ca407925329e?q=80&w=2128&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 -230px;
    background-repeat: no-repeat;
}

.hero-section .titulo-view {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-style: italic;
    color: #163135;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.5);
    font-weight: 500;
    /* width: 80%; */
}

.titulo-view {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-style: italic;
    color: #163135;
    font-weight: 500;
    /* width: 80%; */
}

.contenedor-85 {
    width: 85%;
    margin-inline: auto;
}

.subtitulo {
    font-family: 'Merriweather', serif;
    font-size: 1.3rem;
    font-style: italic;
    color: #fff;
    font-weight: 500;
}

a,
.green {
    text-decoration: none;
    color: #163135;
    transition: 0.4s;
    padding: 3px;
    font-size: 1.1rem;
}

p {
    color: #000;
    font-size: 1rem;
}

/* Estilos para Gatos en Adopción y Perros en Adopción */
.contenedor-listado-animales {
    /* background-color: #f7f7f7; */
    background-color: #edf1eb;
    width: 100%;
    padding-block: 4rem;
}

#listado-animales {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 280px));
    gap: 1.5rem;
    padding: 0;
    place-content: center;
}

h1 {
    margin-block: 2rem;
    text-align: center;
}

.informacion-adopcion {
    margin-block: 2rem;
}

.informacion-adopcion p {
    text-align: center;
    font-size: 1.2rem;
}

/* Componente Actividad */
.actividad {
    text-align: center;
}

.titulo-actividad {
    font-size: 1.3rem;
    margin-bottom: 7px;
    font-weight: 600;
    color: #163135;
}

.descripcion-actividad {
    color: #163135;
}

/* Componente Boton */
button {
    background-color: #163135;
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-size: 1.1rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
    cursor: pointer;
    width: 210px;
    transition: background-color 0.3s ease-in-out;
}

button img {
    width: 30px;
}

button:hover {
    background-color: #32717a;
}

@media (hover: hover) {
    a:hover:not(#home-link, .link-rs a, .contenedor-botones a) {
        background-color: #e5eae2b7;
    }
}

@media (min-width: 1024px) {
    .titulo-view,
    .hero-section .titulo-view {
        font-size: 2.5rem;
    }
}
